:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--primary-background-color: #FFFFFF;
--sekendary-background-color: #F5F4FA;
--accent-color: #2196F3;
}
/* Стили  index.html */
body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: Roboto;
}
.logo {
    color: #2196F3;
    font-family: Raleway;
    font-style: bold;
    font-size: 26px 
}
.logo-studio {
    color: black;
}
.nav-links a {
    font-family: Roboto;
    font-style: medium;
    font-size: 14px;
    color: #212121;
}
.nav-links a:hover,
.nav-links a:focus {
    color: var(--accent-color);
}
.nav-mail {
    font-family: Roboto;
    font-style: medium;
    font-size: 14px;
    color: #757575;
}
.nav-mail:focus,
.nav-mail:hover {
    color: var(--accent-color);
}
.nav-tel {
    font-family: Roboto;
    font-style: medium;
    font-size: 14px;
    color: #757575;
}
.nav-tel:hover, 
.nav-tel:focus {
    color: var(--accent-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: rgb(8, 8, 8);
}
.title-advantages {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
}
.text {
    font-size: 14px;
    line-height: 1.7;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}
.title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
}
.text-profession {
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
}
.logo-footer {
    font-size: 22px;
    line-height: 1.18;
    color: var(--accent-color);
}
.logo-footer-accent {
    font-size: 22px;
    line-height: 1.18;
    color: #FFFFFF;
}
.address {
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
.copy {
    font-size: 12px;
    line-height: 2;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
}

/* Стили Портфолио */

ul button {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}
ul button:hover,
ul button:active {
    color: #FFFFFF;
    background-color: var(--accent-color);
}
ul h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
